<a (click)="showFavoriteWeather()"><div class="container">
    <img *ngIf=favoriteLocationForecast [src]="favoriteLocationForecast.weatherIcon" alt="weatherIcon">
    <img *ngIf=weather [src]="weather.weatherIcon" alt="weatherIcon">
    
    <span *ngIf="weather">{{weather.dayOfWeek}}</span>
    <span *ngIf="favoriteLocationForecast">{{favoriteLocationForecast.locationName}}</span>
    <span *ngIf="weather">{{weather.temperature}}{{temperatureUnit}}</span>
    <span *ngIf="favoriteLocationForecast">{{favoriteLocationForecast.temperature}}{{temperatureUnit}}</span>
    
</div></a>