@import "../scss/adstracts/mixins";
@import "../scss/adstracts/variables";

.container {
  @include setContiner(85%, 80%);
  background-color: var(--background-secondery);
  position: absolute;
  top: 10%;
  left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-location {
    font-size: 2rem;
    display: flex;
    align-items: center;
    width: 40%;

    &__input {
      width: 65%;
    }

    &__btn {
      margin-left: 1rem;
      width: 20%;
      height: 45%;
    }
  }

  .todays-weather {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__forecast {
      margin-left: 3rem;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
    }

    &__icon {
      align-self: center;
    }

    &__location-name {
      @include positionElementInGrid(start);
      margin-top: 0.5rem;
    }

    &__temperature {
      @include positionElementInGrid(end);
      grid-column-end: 2;
      margin-bottom: 0.5rem;
    }

    &__favorite {
      margin-right: 3rem;
    }
  }

  .color-favorite {
    color: $favorite-color;
  }

  .progress-spinner mat-spinner {
    margin: auto;
  }

  .weeklyWeatherStatus {
    font-size: 2rem;
  }

  .weekly-forecast {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 50%;
    margin: auto;
    justify-content: space-around;
  }

  app-weather-card {
    width: 17%;
    animation: slideWeatherCard 1.5s ease-out;
  }
}

@keyframes slideWeatherCard {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 1199px) {
  .container {
    top: 5%;
    left: 5%;
    height: 85%;
    width: 90%;

    .search-location {
      width: 80%;
      font-size: 1.5rem;

      &__btn {
        margin-left: 2rem;
        height: auto;
        padding: 0;
      }
    }

    .weekly-forecast {
      flex-direction: column;
      height: 60%;
      overflow: auto;
      justify-content: unset;
    }

    .todays-weather__forecast {
      margin-left: 1rem;

      .todays-weather__location-name {
        margin-top: 1rem;
      }

      .todays-weather__temperature {
        margin-bottom: 1rem;
      }
    }

    .weeklyWeatherStatus {
      font-size: 1.7rem;
      text-align: center;
      width: 80%;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    app-weather-card {
      width: 100%;
    }
  }
}
