@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --background-primary: #e0e0e0;
  --background-secondery:#fafafa;
  --background-tertiary: #f5f5f5;
  --background-nav: #0277bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

@media (max-width: 640px) {
  html {
    font-size: 45%;
  }
}


