nav{
    background-color: var(--background-nav);
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
    color: white;
}

a:link, a:active, a:visited{
    color: white;
    text-decoration: none;
    
}

.link{
    font-size: 2rem;
    padding:0rem 1rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.link .icon{
    vertical-align: -.1em;
}

.feature{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}

.currentUnit{
    color: orange;
}

@media (max-width: 1199px) {
    
    .link{
        font-size: 1.5rem;
    }
    
    .icon{
        font-size: 2rem;
    }

    .feature{
        font-size: 1.2rem;
    }
}