<nav>
  <span class="feature" appTheme>Dark Mode</span>
  <div>
    <a class="link" routerLink="/weather"><i class="material-icons icon">home</i>Home</a>
    <a class="link" routerLink="/favorites"><i class="material-icons icon">favorite</i>Favorites</a>
  </div>
  <div class="temerature-unit">
    <span class="feature" (click)="changeTemperatureUnit()" [ngClass]="{currentUnit:tempUnit === 'c'}">C</span> |  
    <span class="feature" (click)="changeTemperatureUnit()" [ngClass]="{currentUnit:tempUnit === 'f'}">F</span>
  </div>
</nav>
